$color-primary: #2C2C2C;
$color-secondary: #2C2C2C;
$color-main: #2C2C2C;

$color-grey100: #F0F0F0;
$color-grey200: #F2F2F2;
$color-grey300: #DBDBDB;
$color-grey400: #B1B1B1;
$color-grey500: #707070;

$color-red: #e64545;
