.u-text-center {
    text-align: center;
}

.u-full-width {
    width: 100%;
}

.u-text-vertical {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
}

.u-p-relative{
    position: relative;
}
